/* Custom share Buttons With Floating Sidebar (C)
 * Author: Raghunath gurjar
 * */
.sbutton img {opacity:0.7;}
.sbutton img:hover{opacity:1;}
.csbwfs-social-widget {position: fixed;width: 50px;z-index: 99999;}
.csbwfs-social-widget .csbwfs-sbutton {background: none;float: right;height: 41px;margin: 0;padding: 0;position: relative;width: 50px;}
.csbwfs-sbutton img{padding:5px;}
.csbwfs-sbutton a {text-align:center; display:block;  width:45px; height:40px; border-bottom:1px solid rgba(255, 255, 255, 0.1)}
#csbwfs-tw a{background:none repeat scroll 0 0 #2CA8D2; }
#csbwfs-fb a{background:none repeat scroll 0 0 #305891;}
#csbwfs-ml a{background:none repeat scroll 0 0 #738A8D;}
#csbwfs-gp a{background:none repeat scroll 0 0 #DD4C39; }
#csbwfs-li a{background:none repeat scroll 0 0 #007BB6;}
#csbwfs-pin a{background:none repeat scroll 0 0 #ca2027;}
#csbwfs-yt a{background:none repeat scroll 0 0 #ffffff;}
#csbwfs-re a{background:none repeat scroll 0 0 #FF1A00;}
#csbwfs-st a{background:none repeat scroll 0 0 #EB4924;}
/* Right Position */
#csbwfs-right #csbwfs-re,#csbwfs-right  #csbwfs-st,#csbwfs-right #csbwfs-yt,#csbwfs-right  #csbwfs-ml,#csbwfs-right #csbwfs-pin,#csbwfs-right #csbwfs-gp,#csbwfs-right #csbwfs-tw,#csbwfs-right #csbwfs-fb,#csbwfs-right #csbwfs-li a {position: absolute; right: 0;}
#csbwfs-right a#csbwfs-hide {padding-right:33px;}
#csbwfs-right a#csbwfs-show {float:right;}
/* Bottom Position */
#csbwfs-bottom #re a, #csbwfs-bottom #st a ,#csbwfs-bottom #yt a , #csbwfs-bottom #ml a,#csbwfs-bottom #pin a,#csbwfs-bottom #gp a ,#csbwfs-bottom #tw a,#csbwfs-bottom #fb a ,#csbwfs-bottom #fb a {
bottom: 0;  height: 45px;  
}
#csbwfs-bottom {width:100%;margin:0 auto; text-align:center; bottom: 0 !important; }
#csbwfs-bottom .csbwfs-hide{display:none !important;}
#csbwfs-bottom .csbwfs-sbutton{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);display: inline-block;float: none;   margin: 0 auto;position: relative;width: 45px;}
#csbwfs-bottom .csbwfs-sbutton img {width: 31px;height: 30px;opacity: 0.7;}
#csbwfs-bottom .csbwfs-sbutton img:hover{opacity:1;}
/* Custom Share Buttons*/ 
#socialButtonOnPage {width:100%;display:inline-block;float:left; }
#socialButtonOnPage .csbwfs-sbutton-post img {width:31px; height:30px;opacity:0.7; border-radius:3px 3px 3px 3px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);}
#socialButtonOnPage .csbwfs-sbutton-post img:hover{opacity:1;}
#socialButtonOnPage .sharethis-arrow span:hover{cursor:pointer;}
#socialButtonOnPage .sharethis-arrow span{  color: #FFFFFF;display: inline-block;font-size: 16px;font-style: italic;   font-weight: bold;}
/* Left Position */
.leftSocialButtonOnPage .csbwfs-sbutton-post {float:left; padding:5px 1px;}
.leftSocialButtonOnPage .sharethis-arrow{float:left;padding:5px 10px 5px 1px;background:url("../images/sharethis-l.png") no-repeat scroll 0 0 #ffffff;height: 29px;padding: 0 10px 0 0;margin-top:5px;width: 120px; }
.leftSocialButtonOnPage .sharethis-arrow span{ padding-left: 12px;}
/* Right Position */
.rightSocialButtonOnPage .csbwfs-sbutton-post {float:right; padding:5px 1px;}
.rightSocialButtonOnPage .sharethis-arrow{float:right;padding:5px 1px 5px 10px;background:url("../images/sharethis-r.png") no-repeat scroll 0 0 #ffffff;height: 29px;padding: 0 0 0 10px;margin-top:5px;width: 120px; margin-left:5px;}
.rightSocialButtonOnPage .sharethis-arrow span{padding-left: 12px;}
